/* BELOW IS THE CSS FOR MOBILE VIEW */
.app {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: black;
}

/* Previous code for Desktop view: needs to go into a media query */
/* .app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
} */



















/* BELOW IS THE CSS FOR DESKTOP VIEW */
