/* BELOW IS THE CSS FOR MOBILE VIEW */
.app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}



















/* BELOW IS THE CSS FOR DESKTOP VIEW */
