.cake-builder {
    flex-grow: 1;
    width: 90%;
    background-color: #e5cfc8;
    border: 2px solid #552619;
    font-family: sans-serif;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    max-height: 33%;
}











