/* BELOW IS THE CSS FOR MOBILE VIEW */
@media only screen and (max-width: 768px) {

.layer-form {
    width: 100vw;
    height: 25vh;
    border: 1px solid black;
}

.form-labels {
    font-weight: bold;
    font-family: arial;
    border: 1px solid black;
}

#form-button {
    font-weight: bold;
}



















}

/* BELOW IS THE CSS FOR DESKTOP VIEW */