.cake {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-grow: 3;
    width: 90%;
    background: repeating-linear-gradient(
    45deg,                /* Diagonal stripes */
    #ff69b480,              /* Hot pink */
    #ff69b4 20px,         /* Stop at 20px */
    #ffd700 20px,         /* Gold starts */
    #ffd700 40px,         /* Stop at 40px */
    #87cefa80 40px,         /* Light blue starts */
    #87cefa 60px,         /* Stop at 60px */
    #32cd3280 60px,         /* Lime green starts */
    #32cd32 80px          /* Stop at 80px */
  );
}



