.cake-layer {
    border-top: 1px solid rgba(100, 100, 100, .3);
    border-bottom: 2px solid rgba(100, 100, 100, .3);
    border-radius: 6%;

    border-radius: 80% / 13px;
    margin-bottom: -10px;
    position: relative;
    border-bottom: 2px solid rgba(31, 28, 28, 0.3);


}

.top {
    border: 1px solid rgba(17, 14, 14, 0.3);
    border-radius: 50%;
    position: absolute;
    border-top: none;



}











